# A fast, small, safe, gradually typed embeddable scripting language derived from Lua
#
# https://github.com/luau-lang/luau
# https://luau.org/

# macOS Finder metadata
.DS_Store

# Code coverage
coverage.out

# Profiling
profile.out
profile.svg

# Time trace
trace.json
